html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
/*--- navbar css ---*/
.navbar{
    border-bottom: 0px;
    border-radius: 0px;
    color: white !important;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 1em;
}
.navbar-brand{
    padding: 0px;
    margin: 0px;
    height: auto;
}
.navbar-collapse{
    margin-top: 2%;
}
.navbar-inverse .navbar-nav>li>a{
    color: white !important;
}

.bannerAndServicesWrapper{
    height: 60%;
    padding: 0px;
}
/*--- main banner css ---*/
.carousel{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.item{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.carousel img{
    width: 100%;
}

/*--- three boxes css ---*/
.threeBoxesContainer{
    position: absolute;
    top: 65%;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 99999;
    pointer-events:none;
    height: 10%;
    width: 80%;
    margin: auto;
}
.threeBoxesInner div{
    margin-top: 15% !important;
    background-color: #009C2F;
    padding: 3%;
    height: 260px;
    max-height: 300px;
    text-align: center;
}
.threeBoxesInner div h2{
    color: #0466BF;
}
.threeBoxesInner div p{
    color: white;
}

/*--- services section css ---*/
.servicesSectionHeader{
    text-align: center;
    margin-top: 22.5%;

}
.servicesSectionContainer{
    text-align: center;
}

/*--- featured works section css ---*/
.featuredWorksWrapper{
    margin-top: 6%;
    text-align: center;
    background-color: #222;
    padding-bottom: 3%;
    height: auto !important;
}
.featuredWorksHeader{
    color: white;
}
.featuredWorksGallery div{
    padding: 0px !important;
    padding-bottom: 3%;
    margin-top: 3%;
    margin: 0px !important;
    height: 224px !important;
    max-height: 300px;
    overflow: hidden !important;
}

/*--- reviews section css ---*/
.reviewsSection{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 6%;
}
.reviewsSectionContainer .reviewBox{
    border: 1px solid lightgray;
    border-radius: 1px;
    height: 300px;
    padding: 2%;
    margin-top: 4%;
}
.reviewsSectionContainer .reviewBox p{
    font-style: italic;
}
.reviewsSectionContainer .reviewBox h3{
    color: #009C2F;
}

/*--- footer section css ---*/
.footer{
    background-color: #222;
    padding: 2%;
}
.footerSocial .fa-facebook{
    font-size: 1.7em;
    border: 1px solid lightgray;
    border-radius: 50%;
    height: 2.4em;
    width: 2.4em;
    padding: 4.9%;
    margin: auto !important;
    color: #999999;
}
.footerSocial .fa-twitter{
    font-size: 1.7em;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 4.5%;
    margin: auto !important;
    color: #999999;
}
.footerContact i{
    font-size: 1.5em;
    color: #999;
}
.footer h4{
    color: #eee;
}
.footer p, span{
    color: #999;
}