.mainServicesPageWrapper{
    background-color: lightgray;
}
.mainServicesPageWrapper p{
    text-align: justify;
}
.servicesPageHeader{
    margin-top: 2.1%;
    margin-left: 1%;
    color: #333;
}
/*--- first service section css ---*/
.firstServiceHeader{
    margin-left: 1%;
    margin-bottom: 1%;
}

/*--- second service section css ---*/
.secondServiceSection img{
    height: 216px;
    width: 100%;
}
.secondServiceHeader h2{
    margin-right: 1%;
    float: right;
}

/*--- third service section css ---*/
.thirdServiceSection{
    margin-bottom: 5%;
}
.thirdServiceHeader h2{
    margin-left: 1%;
    margin-bottom: 1%;
}
.thirdServiceSection img{
    height: 216px;
    width: 100%;
}