@media screen and (max-width: 1087px){
    .topStatementDiv{
        margin-top: 25%;
    }
}

@media screen and (max-width: 992px){
    .threeBoxesContainer{
        width: 100%;
        position: static;
    }
    .topStatementDiv{
        display: none;
    }
    .carousel-caption{
        margin-bottom: 20% !important;
    }
    .mainGallerySlideImageIndicators{
        margin-left: 7% !important;
    }
    .topLogoHolderPhone{
        margin-top: 5% !important;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 768px) {
    .topLogoHolder i{
        font-size: 1.5em;
        color: whitesmoke;
        margin-top: 5%;
        margin-left: 5%;
    }
    .topStatementDiv{
        margin-top: 80% !important;
    }
    .copyRightText{
        margin-top: 3%;
    }
}

@media screen and (max-width: 630px) {
    .carousel-caption{
        margin-bottom: 25% !important;
    }
}

@media screen and (max-width: 611px) {
    .topLogoHolder i{
        font-size: 1.5em;
        color: whitesmoke;
        margin-top: 1% !important;
        margin-left: 5%;
    }
    .threeBoxesContainer{
        width: 100%;
        position: static;
    }
}